<footer class="footer-simple">
    <div class="footer-container">
        <p>&copy; 2026 <strong>GYM SYSTEM</strong>. Todos los derechos reservados. <br>
           Desarrollado por <a href="https://appyaa.com/" target="_blank">AppYaa</a>-Guilder</p>
        <div class="footer-links">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'client_list' %}">Clientes</a>
            <a href="{% url 'reports_dashboard' %}">Reportes</a>
        </div>
    </div>
</footer>
